<LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} as |layers|>

  <layers.tile
    @url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
  />

  <layers.marker @location={{this.vacLocation}} as |marker|>
    <marker.popup>
      <h3>VAC Antwerpen</h3>
      Lange Kievitstraat 111/113<br />
      2018 Antwerpen
    </marker.popup>
  </layers.marker>

</LeafletMap>